<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<title>Home</title>
</head>
<body>
	{% if user.is_authenticated %}
		<p>Welcome, {{ name }}!</p>
		<a href="{% url 'logout'%}?next=/logged_out/">Logout</a>
		
	{% else %}
    <p>Welcome, Stranger! Please login to proceed.</p>
		<a href="{% url 'login'%}">Login</a>
            <a href="signup/">Signup</a>
	
	{% endif %}
</body>
</html>
