body {
    font-family: "Nunito";
    color: #264D00;
    background: #B2F7C3;
}

.photo {
    display: block;
    position: relative;
    padding: 20px;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
}

}

.text {
  margin-left: 32.5%;
  margin-right: 7%;
  padding: 4px 16px;
  text-align: justify;
}

.page-title {
    font-size: 7.5vmin;
    margin-top: 27.5vh;
}

.homepage-title {
    text-align: center;
    font-size: 4.5vmin;
    margin-top: 3vh;
}

.subtitle {
    padding-top: 10px;
    font-size: 4vmin;
}

.paragraph {
    margin-top: 5vh;   
}

a {
    color: #264D00;
}

.link {
    margin-top: 5vh;
    align-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
    font-size: 3.2vmin;
}

td, th {
  border: 2px solid white;
  text-align: left;
  padding: 8px;
}

tr:nth-child(1) {
  background-color: #F7C3B2;
}

label {
    display: inline-block;
    width:100px;
    text-align: left;
}

login-form {
    margin-top: 20%;
    font-size: 14px;
}