<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"> 
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<title>Logged out</title>
</head>
<body>
	<p>Successfully logged out.</p> 
	<p>Thank you for visiting!</p>  
	<a href="{% url 'login'%}">Login</a>
</body>
</html>