<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"> 
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class=".col-md-8">
				<div class="card">
					<div class="login-form">
					
						{% if user.is_authenticated %}
							<p>You are already logged in. Please logout first to login with different account.</p>
							<a href="{% url 'logout'%}?next=/logged_out/">Logout</a>
						{% else %}
						
						{% if next %}
							{% if user.is_authenticated %}
								<p>Welcome, {{ user.get_username }}!</p>
						{% else %}
                        <p>Welcome! Please login to proceed.</p>
							{% endif %}
						{% endif %}
                        {% endif %}
						<div class="login_form">
						<form action="{% url 'login' %}" method="POST">
							{% csrf_token %}
							{{ form.as_p }}
						<p><input type="submit" id="submit" value="Login"></p>
                            <p><a href="/signup/">Sign Up</a></p>
						<p><input type="hidden" name="next" value="{{ next }}"></p>
						</form>
                            </div>
                        
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>