<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"> 
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<title>Sign Up</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class=".col-md-8">
				<div class="card">
					<div class="signup-form">
					
						{% if user.is_authenticated %}
							<p>You are already logged in. Please logout first to create a new account.</p>
							<a href="{% url 'logout'%}?next=/logged_out/">Logout</a>
						{% else %}
						
							<form action="" method="POST">
								{% csrf_token %}
								{{ form.as_p }}
								<p><input type="submit" id="submit" value="Sign Up"></p>
							</form>
						
						{% endif %}
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>