<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"> 
	<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<title>Signed up</title>
</head>
<body>
	<p>Successfully signed up.</p>  
	<a href="{% url 'login'%}">Login</a>
</body>
</html>